:root{
    --primario: #C07F00;
    --secundario: #00DA55;
    --gris: #3b3b3b;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --grisClaro: #e1e1e1;



    --fuentePrincipal: 'Lato', sans-serif;
    --fuenteSecundario: 'Roboto', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px*/
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/*Globales*/
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: var(--fuenteSecundario);
    font-weight: 900;
    margin: 2.5rem 0;
}

h1{
    font-size: 4.4rem;
}
h2{
    font-size: 3.6rem;
}
h3{
    font-size: 2.8rem;
}
img{
    max-width: 100%;
    display: block;
    height: auto;
}

/* Utilidades */

.text-center{
    text-align: center;
}

/* Degradao */

.degradado{
    color: transparent;
    background: linear-gradient(to right, #C07F00 0%, #FFFFFF 100%);
    -webkit-background-clip:text ;
    background-clip: text;
}


/* header */

header{
    background-color: var(--negro);
    padding: 15rem 0 ;
    color: var(--blanco);
}

@media ( min-width: 768px) { 
    .contenido-header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.texto-header{
    text-align: center;
    padding-top: 5rem;
}

@media ( min-width: 768px) { 
    
    .texto-header{
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 0rem;
    }
    
}

.texto-header p {
    margin: 0;
}

.tagline-producto{
    font-weight: 900;
    font-size: 3rem;
}

.nombre-producto{
    font-size: 6rem;
    margin: 0;
    
}

@media ( min-width: 768px) { 
    .nombre-producto{
        font-size: 10rem;
        line-height: 1;
    }
}

.precio-producto span{
    font-size: 5rem;
    font-weight: 900;
    margin-left: 1rem;
    color: #C07F00;
}

/* Iconos */

.iconos{
    padding: 5rem 0;
}

@media ( min-width: 768px) { 
    .iconos{
        display: flex;
        gap: 2rem;
        
    }
}

.icono{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
    transition-property: transform ;
    transition-duration: .3s;

}

.icono:hover{
    transform: scale(1.1);
}

.icono img {
    width: 5rem;
    
}
.icono h3{
    color: #C07F00;
    text-transform: uppercase;
    margin-top: 2.5 rem;
}

/* Sobre Tech*/

.sobre-tech{
    background: #1F1E1E;
    margin: 0;
}
@media ( min-width: 768px) { 
    .sobre-tech-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
       
        }
   
    
}

.sobre-tech-video{
    width: 50rem;
}

.sobre-tech-video video{
   
    height: 100%;
}

.texto-sobre-tech h2{
    color: #FFFFFF;
}
/* .texto-sobre-tech span{
    color: transparent;
    background: linear-gradient(to right, #C07F00 0%, #FFFFFF 100%);
    -webkit-background-clip: text;
    background-clip: text;
} */

.texto-sobre-tech p{
    color: #FFFFFF;
}


/* Modelos */ 


.modelos{
    padding: 5rem 0 ;
}

.header-modelos{
    font-size: 5rem;
    
    margin-bottom: 5rem;
}


.listado-modelos{
    display: flex;
   
    flex-direction: column-reverse;
    
}

@media ( min-width: 992px) { 
    .listado-modelos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 20rem);
        gap: 4rem;
    }
}

.modelo{
    background-color: var(--gris);
    margin-bottom: 2rem;
    padding-left: 4rem ;
    color: var(--primario);
    border-radius: 2rem;
    min-height: 20rem;
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition-property: transform background-size ;
    transition-duration: .3s;
}

.modelo:hover{
    transform: scale(1.1);
    background-size: 30rem;
    cursor: pointer;
}



@media ( min-width: 992px) { 
    .modelo{
        margin-bottom: 0;
    }
}

.modelo h3{
    font-size: 2.4rem;

}

.modelo .precio{
    font-weight: 900;
    font-size: 4rem;
    line-height: 0;
} 

.modelo:first-of-type{
    margin-bottom: 0;
}

.modelo-x{
    background-image: url(../img/modelo-x.svg);
    
}

.modelo-y{
    background-image: url(../img/modelo-y.svg);
}

.modelo-z{
    background-image: url(../img/modelo-z.svg);
    background-color: #C07F00;
    color: var(--negro);
}

@media ( min-width: 992px) { 
    .modelo-z{
        grid-column: 2/3;
        grid-row: 1/3;
        background-size: 25rem;
    }
    .modelo-z h3{
        font-size: 4rem;
    }
}

.modelo-z .precio{
    font-size: 6rem;
}


